:root {
  /* color */
  --main-color1: #9ED2BE;
  --main-color2: #7EAA92;
  --color-gray: #D3D3D3;

  /* size */
  --padding: 12px;
  --radious: 10px;
}

.post_title_sum {
  font-size: 20px;
  font-weight: bold;
  
}