@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");

:root {
  /* color */
  --main-color1: #9ed2be;
  --main-color2: #7eaa92;
  --color-gray: #d3d3d3;

  /* size */
  --padding: 12px;
  --radious: 10px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease-in-out;
}

.login-container h2 {
  text-align: center;
  color: var#333;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: var(--main-color2);
}
