@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");

:root {
  /* color */
  --main-color1: #9ed2be;
  --main-color2: #7eaa92;
  --color-gray: #d3d3d3;

  /* size */
  --padding: 12px;
  --radious: 10px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.logo_img {
  width: 12%;
  height: auto;
  padding: 10px;
  cursor: pointer;
}

.navbar-style-7 {
  padding: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeInOut 1s ease-in-out infinite;
  border-radius: 5px;
  border-bottom: 2px solid var(--main-color1);
}

.nav_list {
  display: flex;
  gap: 10px;
}

.nav_button {
  border: none;
  padding: 0px 10px;
  cursor: pointer;
  text-decoration: underline;
  transition: background-position 0.5s;
}

.nav_button:hover {
  background-position: 0% -60%;

  background: linear-gradient(to top, var(--main-color1) 30%, transparent 25%);
  border-radius: 0;
}
