@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");

:root {
  /* color */
  --main-color1: #9ed2be;
  --main-color2: #7eaa92;
  --color-gray: #d3d3d3;

  /* size */
  --padding: 12px;
  --radious: 10px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.review-container {
  display: flex;
  flex-direction: column;
  animation: fadeInUp 0.5s ease-in-out;
  width: 100%;
  overflow: auto;
}

.review-header {
  font-size: 18px;
  margin: 8px 10px;
}

.review-list {
  list-style-type: none;
  padding: 0;
}

.review-item {
  padding: 8px 0;
  margin-left: 15px;
}

.review-box {
  display: flex;
}

.review-input-box {
  display: flex;
  width: 100%;
}

.review-input {
  border: none;
  resize: none;
  padding: 8px;
  width: 100%;
  display: flex;
}

.rating-input {
  display: flex;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.submit-review-btn {
  background-color: var(--main-color1);
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 13px;
  border: none;
  width: 15%;
  height: fit-content;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
  color: white;
}

.submit-review-btn:hover {
  opacity: 0.8;
}
