@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap");

:root {
  /* color */
  --main-color1: #9ed2be;
  --main-color2: #7eaa92;
  --color-gray: #d3d3d3;

  /* size */
  --padding: 12px;
  --radius: 10px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.password-limit {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.719);
}

.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease-in-out;
}

.signup-form h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.signup-form h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.signup-form label {
  display: block;
  margin-bottom: 8px;
}

.signup-input,
.signup-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-select {
  position: relative;
  appearance: none;
  background-color: white;
  cursor: pointer;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: var(--main-color2);
}
